
h1,h2,h3,h4,h5,p{
  font-family: 'Gamja Flower', cursive;
}

#test {
  display:none;
}

#result {
  display:none;
}

button {
  width: 95%;
  font-family: 'Gamja Flower', cursive;
}

#img {
  width: 500px;
  margin:0 auto;
}
